body{
  background-color: rgb(230, 211, 177);
}
.textFieldHolder{
  margin-top: 2%;
  margin-left: 43%;
}
.textField{
  width: 27%;
}
.sendDiv{
  margin-top: 0.3%;
  margin-left: 42.5%;
}
.messageHolder{
  background-color: rgb(212, 192, 156);
  margin-left: 35%;
  width:30%;
  margin-top: 2%;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
}
.messageHolderActive{
  background-color: rgb(122, 228, 148);
  margin-left: 35%;
  width:30%;
  margin-top: 2%;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
}
.messageHolder:active{
  background-color: rgb(194, 176, 142);
}
.messageHolderActive{
  background-color: rgb(118, 207, 130);
}
.buttGroup{
  margin-left: 45%;
  margin-top: 1%;
  background-color: rgb(190, 171, 137);
}

.buttonCreate{
  background-color: rgb(190, 171, 137);
  cursor: pointer;
}

.Button:hover{
  background-color: rgb(151, 134, 104);
  cursor: pointer;
}

.inputField{
  padding-left: 200px;
  padding-right: 200px;
  margin-top: 10%;
}